.navigation-bar-container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 3em 0;
  .logo-container {
    .logo {
      width: 40%;
      height: 100%;
    }
  }
  .navigation-bar-elements-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    .navigation-bar-element-container {
      .navigation-bar-element {
        margin: 0 1.5ex;
        transition-duration: 0.1s;
        font-weight: 600;
        &:hover {
          color: var(--brand-kit-color-1);
          cursor: pointer;
        }
      }
    }
  }
}
