<div class="horizontal-line"></div>
<div class="footer-container">
  <div class="top">
    <div class="left">
      <img class="logo" ngSrc="assets/logo.png" alt="" width="1" height="1" priority="priority" />
    </div>
    <div class="right">
      @for (footerElement of getFooterElements(); track footerElement.header.name) {
        <div class="footer-element">
          <div class="footer-title-font-family">
            {{ footerElement.header.label }}
          </div>
          @for (footerElementChild of footerElement.elements; track footerElementChild.name) {
            <span (click)="goInContainer(footerElementChild.name)" [style]="'width: fit-content;'" [class]="footerElementChild.name === 'disclaimer-message' ? 'disclaimer' : 'footer-element-child-font-family text-curser-pointer'">
              {{ footerElementChild.label }}
            </span>
          }
        </div>
      }
    </div>
  </div>
  <div class="bottom">
    <div class="contact-info">
      @for (info of getContactInfo(); track info.name) {
        <div class="info">
          <app-icon class="icon" [icon]="info.icon" />
          <span class="info-detail" [innerText]="info.info"></span>
        </div>
      }
    </div>
  </div>
</div>
