.home-container {
  .introduction {
  }
  .about {
    padding: 5em 0;
  }
  .product-solution {
    padding: 5em 0;
    background-color: white;
  }
  .sample-products {
    padding: 5em 0;
  }
  .regulatory-compliance {
    padding: 5em 0;
    background-color: white;
  }
  .blog {
    padding: 5em 0;
  }
  .help {
    padding: 5em 0;
    background-color: white;
  }
  .contact-us {
    padding: 5em 0;

  }
  .footer {
    padding: 2em 5em 1em 5em;
    background-color: white;
  }
}
