.home-container {
  .introduction {
  }
  .about {
    padding: 5rem 0;
  }
  .product-solution {
    padding: 3rem 0;
    background-color: var(--background-color-green);
  }
  .sample-products {
    padding: 0 0 5rem 0;
  }
  .regulatory-compliance {
    padding: 3rem 0;
    background-color: var(--background-color-green);
  }
  .blog {
    padding: 0 0 5rem 0;
  }
  .help {
  }
  .contact-us {
    //padding: 3em 0;

  }
  .footer {
  }
}
