.introduction-container {
  .viewport {
    overflow: hidden;
    width: 100%;
  }

  .image-container {
    display: flex;
    will-change: transform;
    .slide {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover; // instead of contain
      }
    }
  }

  .dots {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 12px;

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 999px;
      border: 1px solid grey;
      background: transparent;
      cursor: pointer;
      padding: 0;

      &.active {
        background: var(--brand-kit-color-1);
      }

      &:hover {
        background: var(--brand-kit-color-1);
      }
    }
  }
}
