.mini-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  .mini-table-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.05;
  }
}
