.blog-container {
  .blog-title {
    padding: 1rem 2%;
  }
  .blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78%;
    margin: 3rem auto;
    .main-blog {
      width: 80%;
      margin: 0 1em;
    }
    .sub-blogs {
      width: 22%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 3em;
      .sub-blog {
        margin-bottom: 1em;
      }
    }
  }
  .buttons {
    margin-top: 5em;
  }
}
