.blog-container {
  .blog-title {
    padding: 1rem 5%;
  }
  .blog {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    .main-blog {
      width: 75%;
      margin: 0 3em;
    }
    .sub-blogs {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 3em;
      .sub-blog {
        margin-bottom: 1em;
      }
    }
  }
  .buttons {
    margin-top: 5em;
  }
}
