.main {
  .status {
    position: fixed;
    left: 0;
    top: 100%;
    transform: translateY(-100%);
    width: 100%;
    padding: 0.5rem 0;
    z-index: 800;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .modal-container {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,0.3);
    z-index: 100;

    .modal {
      width: 90%;
      height: 90%;
      border-radius: 20px;

      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      background-color: var(--brand-kit-color-off-white);
      padding: 16px;
      min-width: 0;
      min-height: 0;

      .close-button-container {
        display: flex;
        & > * {
          margin-left: auto;
        }
      }
    }
  }
}
