.main {
  .status {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1% 0;
    z-index: 800;
  }
  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  .modal-container {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background: rgba(0,0,0,0.3);
    z-index: 100;

    .modal {
      width: 90%;
      height: 90%;
      background: #fff;
      border-radius: 20px;

      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      padding: 16px;
      min-width: 0;
      min-height: 0;

      .close-icon-container {
        position: absolute;
        top: 12px;
        right: 3%;
        color: var(--brand-kit-color-1);
        font-size: 3ex;
        cursor: pointer;
        z-index: 2;
        border-radius: 30%;
        background-color: var(--brand-kit-color-2);
      }
    }
  }
}
