.about-container {
  margin: auto;
  width: 70%;
  .about-element-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 47%;
    }
    .right {
      width: 47%;
      display: flex;
      justify-content: center;
    }
  }
  .about-element-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      width: 47%;
      display: flex;
      justify-content: center;
    }
    .right {
      width: 47%;
    }
  }
}


.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 4ex;
  //-webkit-mask-repeat: no-repeat;
  //-webkit-mask-position: center;
  //-webkit-mask-size: cover;
  //mask-image: radial-gradient(circle, var(--background-color-1) 90%, rgba(0,0,0,0) 100%);
  //mask-repeat: no-repeat;
  //mask-position: center;
  //mask-size: cover;
}

.gap {
  margin: 6rem 0;
}
