<span class="text-input-container">
  @if (element.type === 'textarea') {
    <textarea
      class="textarea text-area-input"
      rows="4"
      cols="80"
      [placeholder]="element.label"
      [(ngModel)]="element.value"
      (change)="outputHandleChange()"
    ></textarea>
  } @else {
    <input
      class="text text-input"
      [type]="element.type"
      [placeholder]="element.label"
      [id]="element.name"
      [(ngModel)]="element.value"
      (change)="outputHandleChange()"
    />
  }
</span>
