.contact-us-container {
  .contact-us-title {
    padding: 1rem 2%;
  }
  .contact-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
    width: 80%;
    margin: auto;
    .left {
      width: 54%;
      .message {
        .header-message {
          margin: 0 auto 2rem 0;
          font-size: 18px;
          text-align: justify;
        }
      }
      .form-container {
        .form {

        }
        .buttons {
        }
      }
    }
    .right {
      width: 40%;
      .contact-image {
        width: 100%;
        height: auto;
        border-radius: 5rem;
      }
    }
  }
}
