.product-solution-container {
  display: flex;
  flex-direction: column;
  .product-solutions {
    display: flex;
    //margin-top: 3em;
    .product-solution-mini-table {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .product-solution-icon {
        width: 70px;
        height: 70px;
      }
    }
  }
}
