.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: fit-content;
  margin: 1rex;
  .back-button-icon {
    margin: 0 1ex;
  }
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 70%;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  .logo-image {
    width: 50%;
    height: 25rem;
  }
  .login-input-container {
    width: 50%;
    height: 25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    //align-items: center;
    .login-title {
      font-size: 1.6rem;
      font-weight: bold;
      margin: 0 auto;
    }
    .form-container {
      width: 70%;
      margin: 0 auto;

    }
    .forgot-password-container {
      width: 70%;
      font-size: 0.8rem;
      display: flex;
      justify-content: end;
      margin: 1rex auto;
      .goback-to-login {
        #login-button {
          cursor: pointer;
        }
      }
      .forgot-password {
        cursor: pointer;
      }
    }
    .login-buttons {
      margin: 0 auto;
    }
  }
}






//.container {
//  width: 50%;
//  margin: auto;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  .login-container {
//    .logo-image {
//      display: flex;
//      margin: 10% auto;
//      width: 50%;
//      height: auto;
//    }
//    .login-input-container {
//    }
//    .forgot-password-container {
//      font-size: 0.8rem;
//      width: 100%;
//      text-align: right;
//      margin-top: 3%;
//      .goback-to-login {
//        #login-button {
//          cursor: pointer;
//          &:hover {
//            color: var(--brand-kit-color-main);
//          }
//        }
//      }
//      .forgot-password {
//        text-align: center;
//        cursor: pointer;
//        &:hover {
//          color: var(--brand-kit-color-main);
//        }
//      }
//    }
//    .login-buttons {
//      display: flex;
//      justify-content: center;
//    }
//  }
//}
