.faq-container {
  .faq-title {
    padding: 1rem 2%;
  }
  .faqs-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem 0;
    width: 80%;
    margin: auto;
    .image-container {
      width: 47%;
      .image {
        width: 100%;
        height: auto;
        border-radius: 5rem;
      }
    }
    .faqs {
      width: 47%;
      .question-container {
        display: flex;
        .question {
          font-size: 1.4rem;
          font-weight: bold;
        }
        .icon {
          margin: 1rex 0 0 1rex;
          font-size: 16px;
        }
      }
      .answer {
        font-size: 18px;
        color: var(--default-color-dark-grey);
        text-align: justify;
        margin: 1em 3em 0 0;
      }
    }
  }
}
